.body-content {
    display: flex;

    border-top-width: 0;
    border-top-style: solid;
    border-top-color: rgb(255, 255, 255);
}

.body-article-title {
    padding: 20px;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    border-left: var(--border);
    border-right: var(--border);
}

.body-article-info {
    padding-left: 20px;
    padding-right: 20px;
    border-left: var(--border);
    border-right: var(--border);

    display: flex;
    justify-content: space-between;
}

.body-article-description {
    padding: 20px;
    padding-bottom: 6px;
    font-size: 1em;
    border-left: var(--border);
    border-right: var(--border);

    min-width: 0;
    white-space: pre-wrap;
}

.deny-white-space {
    white-space: normal;
}

.body-article-source {
    padding: 20px;
    font-size: 0.8em;
    border: var(--border);
    border-top: 1px;
    padding-top: 1px;
}

.body-sidebar {
    width: calc(100% * 0.2);
    min-width: 240px;
    margin: 10px;
}